<mat-grid-list cols="2" rowHeight="200px">
  <mat-grid-tile [colspan]="2"
                 [rowspan]="1">
    <app-header></app-header>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1"
                 [rowspan]="3">
    <app-jobs (currentIdx)="receiveIdx($event)" [jobs]="jobsArray">
    </app-jobs>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1"
                 [rowspan]="3"
                 class="fallback">
    <app-job-detail [currentIdx]="currentIdx"
                    [jobs]="jobsArray">
    </app-job-detail>
  </mat-grid-tile>
</mat-grid-list>

<mat-card *ngIf="isLoading"
          style="display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          left: calc(91.5vw/2);
          background-color: #ebf0f4;">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
