<mat-grid-list cols="2" rowHeight="200px">
  <mat-grid-tile [colspan]="2"
                 [rowspan]="1">
    <app-header></app-header>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1"
                 [rowspan]="3">
    <app-jobs (currentIdx)="receiveIdx($event)" [jobs]="jobsArray">
    </app-jobs>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1"
                 [rowspan]="3"
                 class="fallback">
    <app-job-detail [currentIdx]="currentIdx"
                    [jobs]="jobsArray">
    </app-job-detail>
  </mat-grid-tile>
</mat-grid-list>
