.mat-list-item {
  color: rgba(255,255,255,.87);
  background-color: #02698f;
  border-color: #025776;
  border-radius: .1428em;
}

.mat-list-item:hover {
  color: #fff;
  background-color: #01445d;
  border-color: #012a39;
}

mat-list-item div:first-child{
  font-weight: bold
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  margin: calc(3px * var(--basic-unit-space));
}


mat-icon {
  background-image: url('../../assets/ico/myHammerIcon.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media (max-width: 1024px) {
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    margin-left: 0;
    margin-right: 0;
  }
  .mat-nav-list {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
