<mat-card class="job-detail-card"
          *ngIf="getCurrentIdx() !== undefined">
  <mat-card-header>
    <img  mat-card-avatar
          src="{{jobs[getCurrentIdx()].thumbnail}}">
    <mat-card-title>{{jobs[getCurrentIdx()].title}}</mat-card-title>
    <mat-card-subtitle>{{jobs[getCurrentIdx()].city}} {{jobs[getCurrentIdx()].zip_code}},
      id n. {{jobs[getCurrentIdx()].id}}</mat-card-subtitle>
  </mat-card-header>
  <div class="job-detail-card__image-wrapper">
    <img mat-card-image
         class="job-detail-card__image"
         src="{{jobs[getCurrentIdx()].attachments[0]}}"
         alt="Missinf image of Job with id {{jobs[getCurrentIdx()].id}}">
  </div>
  <mat-card-content>
    <p>
      {{jobs[getCurrentIdx()].description.slice(0,150)}}...
    </p>
    <p>
      <span matBadge="{{jobs[getCurrentIdx()].counter.messages_total}}"
            matBadgeOverlap="false">Total Messages</span>
      <span matBadge="{{jobs[getCurrentIdx()].counter.messages_unread}}"
            matBadgeOverlap="false">Unread Messages</span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Like</button>
    <button mat-button>Share</button>
  </mat-card-actions>
</mat-card>
