<div>{{getJobs()}}</div>
<mat-card class="job-detail-card">
  <mat-card-header>
    <img  mat-card-avatar
          src="{{jobs[0].thumbnail}}">
    <mat-card-title>{{jobs[0].title}}</mat-card-title>
    <mat-card-subtitle>{{jobs[0].city}} {{jobs[0].zip_code}},
      id n. {{jobs[0].id}}</mat-card-subtitle>
  </mat-card-header>
  <div class="job-detail-card__image-wrapper">
    <img mat-card-image
         class="job-detail-card__image"
         src="{{jobs[0].attachments[0]}}"
         alt="Photo of a Shiba Inu">
  </div>
  <mat-card-content>
    <p>
      {{jobs[0].description.slice(0,150)}}...
    </p>
    <p>
      <span matBadge="{{jobs[0].counter.messages_total}}" matBadgeOverlap="false">Total Messages</span>
      <span matBadge="{{jobs[0].counter.messages_unread}}" matBadgeOverlap="false">Unread Messages</span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Like</button>
    <button mat-button>Share</button>
  </mat-card-actions>
</mat-card>

